.page-header-container {
  margin: -1.5rem -2.5rem;

  .card .card-body {
    padding: 0.5rem 2rem;
  }

  .page-title {
    h2 {
      font-size: 1.5rem;
      display: inline-block;
      margin-left: 15px;
    }
  }
}
