<app-page-header [title]="'Transações'" [icon]="'mdi-swap-horizontal'"></app-page-header>

<div class="card mes-atual-container">
  <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
    <button class="btn social-btn btn-outline-primary btn-rounded btn-previous-month" type="button">
      <i class="mdi mdi-chevron-left"></i>
    </button>
    <span>Fevereiro - 2019</span>
    <button class="btn social-btn btn-outline-primary btn-rounded btn-next-month" type="button">
      <i class="mdi mdi-chevron-right"></i>
    </button>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-3">
    <div class="card card-stats">
      <div class="card-header">Saldo do mês</div>
      <div class="card-body">
        R$ 1.300,00
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-header">Receitas do mês</div>
      <div class="card-body">
        R$ 1.600,00
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-header">Despesas do mês</div>
      <div class="card-body">
        R$ 300,00
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">Transações</div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
