.mes-atual-container {
    width: fit-content;
    margin: 0 auto;

    .btn-previous-month {
        padding: 6px;
        border: none;
        margin-right: 10px;
    }

    .btn-next-month {
        padding: 6px;
        border: none;
        margin-left: 10px;
    }
}

.card {
  text-align: center;

  &.card-primary {
    .card-header {
      background-color: #a90329;
      color: white;
    }
  }

  &.card-success {
    .card-header {
      background-color: #2b8232;
      color: white;
    }
  }

  &.card-danger {
    .card-header {
      background-color: #d20c1e;
      color: white;
    }
  }

  .card-header {
    padding: 0.4rem 1rem;
  }

  .card-body {
    padding: 1rem;
  }
}

.circle-efetivada {
  color: #2b8232;
}

.circle-pendente {
  color: #d20c1e;
}

.card-stats {
  margin-bottom: 10px;
}
