<app-page-header [title]="'Transações'" [icon]="'mdi-swap-horizontal'"></app-page-header>

<div class="card mes-atual-container">
    <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
        <button class="btn social-btn btn-outline-primary btn-rounded btn-previous-month" type="button">
            <i class="mdi mdi-chevron-left"></i>
        </button>
        <span>Fevereiro - 2019</span>
        <button class="btn social-btn btn-outline-primary btn-rounded btn-next-month" type="button">
            <i class="mdi mdi-chevron-right"></i>
        </button>
    </div>
</div>