<app-page-title [title]="'Contas'"></app-page-title>

<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="1" *ngFor="let conta of contas">
    <div class="conta-container">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="conta-icon-container" [ngStyle]="{'background-color': conta.icon.color}">
            <i class="material-icons conta-icon">{{conta.icon.icon}}</i>
          </div>
          <mat-card-title>{{conta.nome}}</mat-card-title>
          <mat-card-subtitle>{{conta.saldo | currency:'BRL'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="conta-content-container">
          <div class="conta-content">
            <span class="content-title">Saldo atual</span>
            <span class="content-value">R$ 100.00</span>
          </div>
          <div class="conta-content">
            <span class="content-title">Previsão</span>
            <span class="content-value">R$ 230.00</span>
          </div>
          <div class="conta-content">
            <span class="content-title__positive">Trans. realizadas</span>
            <span class="content-value">12</span>
          </div>
          <div class="conta-content">
            <span class="content-title__negative">Trans. pendentes</span>
            <span class="content-value">1</span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="quick-action-container">
  <button mat-fab color="primary">
    <mat-icon aria-label="Adicionar nova conta">add</mat-icon>
  </button>
</div>