.quick-action-container {
  position: fixed;
  bottom: 60px;
  right: 25px;
}

.conta-icon-container {
  display: flex;

  .conta-icon {
    font-size: 30px;
    border-radius: 50%;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-self: center;
  }
}

.conta-container {
  padding: 0 10px;
  width: 100%;

  .conta-content-container {
    .conta-content {
      width: 50%;
      display: inline-block;
      margin-bottom: 20px;
      font-size: 11pt;
      
      .content-title {
        &__negative {
          font-weight: 500;
          color: rgb(250, 35, 35);  
        }

        &__positive {
          font-weight: 500;
          color: rgb(23, 143, 23);
        }
      }
      
      .content-value {
        font-size: 13pt;
        font-weight: 600;
      }

      span {
        display: block;
      }
    }
  }

  .conta-actions-container {
    text-align: right;
  }
}