.quick-action-container {
  position: fixed;
  bottom: 60px;
  right: 25px;
}

.conta-icon-container {
  display: flex;

  .conta-icon {
    font-size: 30px;
    border-radius: 50%;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-self: center;
  }
}

.conta-container {
  padding: 0 10px;
}