<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces-clipart/pic-4.png" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Gustavo Santos</p>
            <div>
              <small class="designation text-muted">Desenvolvedor .NET</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block">NovaTransação
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contas" routerLinkActive="active">
        <i class="menu-icon mdi mdi-cash-multiple"></i>
        <span class="menu-title">Contas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transacoes" routerLinkActive="active">
        <i class="menu-icon mdi mdi-swap-horizontal"></i>
        <span class="menu-title">Transações</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/relatorios" routerLinkActive="active">
        <i class="menu-icon mdi mdi-file-chart"></i>
        <span class="menu-title">Relatórios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/acoes" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-areaspline"></i>
        <span class="menu-title">Ações</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/objetivos" routerLinkActive="active">
        <i class="menu-icon mdi mdi-flag-variant"></i>
        <span class="menu-title">Objetivos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cadastros" routerLinkActive="active">
        <i class="menu-icon mdi mdi-file-multiple"></i>
        <span class="menu-title">Cadastros</span>
      </a>
    </li>
  </ul>
</nav>
