.menu-container {
    display: inline-flex;
    width: 60%;
    margin: 0 auto;

    button {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        :first-child {
            color: #9c1f49;
        }

        span {
            font-size: 14pt;
            font-weight: 500;
        }
    }
}