<mat-toolbar>
  <div class="menu-container">

    <mat-menu #menuGestao>
      <button mat-menu-item>Dashboard</button>
      <button mat-menu-item>Transações</button>
      <button mat-menu-item>Receitas</button>
      <button mat-menu-item>Despesas</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuGestao">
      <mat-icon>attach_money</mat-icon>
      <span>Gestão</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuRelatorios>
      <button mat-menu-item>Balanço mensal</button>
      <button mat-menu-item>Balanço anual</button>
      <button mat-menu-item>Balanço geral</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuRelatorios">
      <mat-icon>pie_chart</mat-icon>
      <span>Relatórios</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuObjetivos>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuObjetivos">
      <mat-icon>flag</mat-icon>
      <span>Objetivos</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuAcoes>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuAcoes">
      <mat-icon>show_chart</mat-icon>
      <span>Ações</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuCadastros>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuCadastros">
      <mat-icon>save</mat-icon>
      <span>Cadastros</span>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>
