<mat-toolbar>
  <div class="menu-container">

    <!-- Menu Gestão -->
    <button mat-menu-item [matMenuTriggerFor]="menuGestao">
      <mat-icon>attach_money</mat-icon>
      <span>Gestão</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuGestao>
      <button mat-menu-item [routerLink]="['/gestao']">Dashboard</button>
      <button mat-menu-item [routerLink]="['/gestao/contas']">Contas</button>
      <button mat-menu-item [routerLink]="['/gestao/transacoes']">Transações</button>
      <button mat-menu-item [routerLink]="['/gestao/receitas']">Receitas</button>
      <button mat-menu-item [routerLink]="['/gestao/despesas']">Despesas</button>
    </mat-menu>

    <!-- Menu Relatório -->
    <button mat-menu-item [matMenuTriggerFor]="menuRelatorios">
      <mat-icon>pie_chart</mat-icon>
      <span>Relatórios</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRelatorios>
      <button mat-menu-item>Balanço mensal</button>
      <button mat-menu-item>Balanço anual</button>
      <button mat-menu-item>Balanço geral</button>
    </mat-menu>

    <!-- Menu Objetivos -->
    <button mat-menu-item [matMenuTriggerFor]="menuObjetivos">
      <mat-icon>flag</mat-icon>
      <span>Objetivos</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuObjetivos>
    </mat-menu>

    <!-- Menu Ações -->
    <button mat-menu-item [matMenuTriggerFor]="menuAcoes">
      <mat-icon>show_chart</mat-icon>
      <span>Ações</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAcoes>
    </mat-menu>

    <!-- Menu Cadastros -->
    <button mat-menu-item [matMenuTriggerFor]="menuCadastros">
      <mat-icon>save</mat-icon>
      <span>Cadastros</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuCadastros>
    </mat-menu>
  </div>
</mat-toolbar>
