.menu-container {
    display: inline-flex;
    width: 60%;
    margin: 0 auto;

    button {
        text-align: center;
        
        :first-child {
            color: #9c1f49;
        }

        span {
            font-size: 12pt;
            font-weight: 500;
            margin: auto 15px auto 0px;
        }
    }
}