<mat-toolbar>
  <div class="menu-container">

    <mat-menu #menuGestao>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuGestao">
      <mat-icon>attach_money</mat-icon>
      <span>Gestão</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuRelatorios>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuRelatorios">
      <mat-icon>pie_chart</mat-icon>
      <span>Relatórios</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuObjetivos>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuObjetivos">
      <mat-icon>flag</mat-icon>
      <span>Objetivos</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuAcoes>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuAcoes">
      <mat-icon>show_chart</mat-icon>
      <span>Ações</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuCadastros>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="menuCadastros">
      <mat-icon>save</mat-icon>
      <span>Cadastros</span>
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- <div class="menu-item">
      <i class="material-icons">attach_money</i>
      <a>Gestão</a>
      <i class="material-icons">expand_more</i>
    </div> -->
    <!-- <div class="menu-item">
      <i class="material-icons">pie_chart</i>
      <a>Relatórios</a>
      <i class="material-icons">expand_more</i>
    </div> -->
    <!-- <div class="menu-item">
      <i class="material-icons">flag</i>
      <a>Objetivos</a>
      <i class="material-icons">expand_more</i>
    </div>
    <div class="menu-item">
      <i class="material-icons">show_chart</i>
      <a>Ações</a>
      <i class="material-icons">expand_more</i>
    </div>
    <div class="menu-item">
      <i class="material-icons">save</i>
      <a>Cadastros</a>
      <i class="material-icons">expand_more</i>
    </div> -->
  </div>
</mat-toolbar>