<app-page-header [title]="'Contas'" [icon]="'mdi-cash-multiple'"></app-page-header>

<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 grid-margin stretch-card" *ngFor="let conta of contas">
    <div class="card card-statistics">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-6 header-left">
            <i class="{{conta.icone}} icon-md" [style.color]="conta.cor"></i>
            <div class="conta-name text-center">{{conta.nome}}</div>
          </div>
          <div class="col-xs-6 header-right">
            <button class="btn social-btn btn-outline-secondary" type="button" (click)="editarConta(conta.codigo)">
              <i class="mdi mdi-dots-horizontal"></i>
            </button>&nbsp;
            <button class="btn social-btn btn-outline-danger" type="button" (click)="removerConta(conta.codigo)">
              <i class="mdi mdi-delete"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="mb-0">Saldo Atual</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-success mb-0" [ngClass]="(conta.saldo > 0) ? 'text-success' : 'text-danger'">
                {{conta.saldo | currency: 'BRL'}}
              </h3>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="mb-0 text-muted">Saldo Previsto</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-muted mb-0 ">{{conta.saldoPrevisto | currency: 'BRL'}}</h3>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="mb-0">Transações Realizadas</p>
            <p class="mb-0 text-success">{{conta.transacoesRealizadas}}</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="mb-0">Transações Pendentes</p>
            <p class="mb-0 text-danger">{{conta.transacoesPendentes}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-fab (fabClicked)="criarConta()"></app-fab>
