// Custom Theming for Angular Material
@import '~@angular/material/theming';
@import 'assets/styles/theme/rhitta-theme.scss';

@include mat-core();

$AssistenteFinanceiro-Frontend-primary: mat-palette($rhitta-mat-purple, 800);
$AssistenteFinanceiro-Frontend-accent: mat-palette($mat-grey, A200, A100, A400);
$AssistenteFinanceiro-Frontend-warn: mat-palette($mat-red);
$AssistenteFinanceiro-Frontend-theme: mat-dark-theme($AssistenteFinanceiro-Frontend-primary, $AssistenteFinanceiro-Frontend-accent, $AssistenteFinanceiro-Frontend-warn);

@include angular-material-theme($AssistenteFinanceiro-Frontend-theme);

html,
body,
app-root,
.app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  max-height: 50px !important;
}

