// Ferramenta para auxiliar na criação da paleta de cores: 
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

$rhitta-mat-purple: (
  50: #fae3e9,
  100: #f4b9c9,
  200: #ec8da6,
  300: #e46283,
  400: #dc446a,
  500: #d62b53,
  600: #c62851,
  700: #b1234c,
  800: #9c1f49,
  900: #781941,
  A100: #dc446a,
  A200: #d62b53,
  A400: #b1234c,
  A700: #781941,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$rhitta-black: #000000;
$rhitta-white: #ffffff;
